@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-xxs: 20rem;
}

::-webkit-file-upload-button {
   display: none;
}

::file-selector-button {
  display: none;
}

#add-image {
    font-size: 0;
}

svg, button {
    cursor: pointer;
}

html {
    background-color: #f4f4f4;
}